In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json

In [14]:
med_inc = pd.read_csv("/Users/michaelsanchez/Documents/Data Analytics Courses/Week 23 - 24 - Project 4/Project 4 Data/Resources/ACSST5Y2022.S1901-Data.csv")
med_inc

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US48,Texas,10490553,15608,5.1,0.1,3.6,0.1,7.0,0.1,...,233,64059,343,(X),(X),(X),(X),30.9,(X),NaN
2,1600000US4800100,"Abbott city, Texas",109,28,0.0,34.8,0.0,34.8,3.7,3.5,...,19284,59656,19528,(X),(X),(X),(X),44.0,(X),NaN
3,1600000US4800160,"Abernathy city, Texas",1164,250,3.1,2.9,7.3,5.5,12.1,7.1,...,7499,34735,15515,(X),(X),(X),(X),35.9,(X),NaN
4,1600000US4801000,"Abilene city, Texas",46030,691,5.3,0.8,5.0,0.8,8.8,1.4,...,4965,50496,6204,(X),(X),(X),(X),26.8,(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,1600000US4880722,"Zapata Ranch CDP, Texas",78,72,0.0,41.6,5.1,12.2,0.0,41.6,...,**,N,N,(X),(X),(X),(X),7.5,(X),NaN
1860,1600000US4880724,"Zarate CDP, Texas",0,15,-,**,-,**,-,**,...,**,-,**,(X),(X),(X),(X),-,(X),NaN
1861,1600000US4880728,"Zavalla city, Texas",239,62,12.1,10.4,6.7,5.9,8.4,5.6,...,45395,48605,14638,(X),(X),(X),(X),39.1,(X),NaN
1862,1600000US4880740,"Zephyr CDP, Texas",103,61,5.8,7.8,0.0,36.0,1.9,3.2,...,1597,26032,4863,(X),(X),(X),(X),7.5,(X),NaN
1863,1600000US4880836,"Zuehl CDP, Texas",140,70,0.0,29.2,8.6,14.2,0.0,29.2,...,**,N,N,(X),(X),(X),(X),52.2,(X),NaN

In [19]:
filter = med_inc["NAME"].str.contains("CDP")
filtered_med_inc = med_inc[~filter]
filtered_med_inc

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US48,Texas,10490553,15608,5.1,0.1,3.6,0.1,7.0,0.1,...,233,64059,343,(X),(X),(X),(X),30.9,(X),NaN
2,1600000US4800100,"Abbott city, Texas",109,28,0.0,34.8,0.0,34.8,3.7,3.5,...,19284,59656,19528,(X),(X),(X),(X),44.0,(X),NaN
3,1600000US4800160,"Abernathy city, Texas",1164,250,3.1,2.9,7.3,5.5,12.1,7.1,...,7499,34735,15515,(X),(X),(X),(X),35.9,(X),NaN
4,1600000US4801000,"Abilene city, Texas",46030,691,5.3,0.8,5.0,0.8,8.8,1.4,...,4965,50496,6204,(X),(X),(X),(X),26.8,(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1852,1600000US4880356,"Wylie city, Texas",18217,538,1.9,1.3,0.2,0.3,3.2,1.1,...,9861,83275,9538,(X),(X),(X),(X),20.0,(X),NaN
1854,1600000US4880440,"Yantis town, Texas",130,39,9.2,8.3,6.9,8.7,20.8,13.6,...,6370,32007,13901,(X),(X),(X),(X),67.9,(X),NaN
1855,1600000US4880560,"Yoakum city, Texas",2173,169,3.3,2.8,4.2,2.8,15.0,5.5,...,6032,32761,8495,(X),(X),(X),(X),40.5,(X),NaN
1856,1600000US4880584,"Yorktown city, Texas",761,139,10.9,5.5,6.8,5.3,7.9,6.6,...,6333,43504,17398,(X),(X),(X),(X),37.0,(X),NaN
1861,1600000US4880728,"Zavalla city, Texas",239,62,12.1,10.4,6.7,5.9,8.4,5.6,...,45395,48605,14638,(X),(X),(X),(X),39.1,(X),NaN

In [20]:
filtered_med_inc["NAME"] = filtered_med_inc["NAME"].str.replace('city, Texas', '')
filtered_med_inc

/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/4009319959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_med_inc["NAME"] = filtered_med_inc["NAME"].str.replace('city, Texas', '')

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US48,Texas,10490553,15608,5.1,0.1,3.6,0.1,7.0,0.1,...,233,64059,343,(X),(X),(X),(X),30.9,(X),NaN
2,1600000US4800100,Abbott,109,28,0.0,34.8,0.0,34.8,3.7,3.5,...,19284,59656,19528,(X),(X),(X),(X),44.0,(X),NaN
3,1600000US4800160,Abernathy,1164,250,3.1,2.9,7.3,5.5,12.1,7.1,...,7499,34735,15515,(X),(X),(X),(X),35.9,(X),NaN
4,1600000US4801000,Abilene,46030,691,5.3,0.8,5.0,0.8,8.8,1.4,...,4965,50496,6204,(X),(X),(X),(X),26.8,(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1852,1600000US4880356,Wylie,18217,538,1.9,1.3,0.2,0.3,3.2,1.1,...,9861,83275,9538,(X),(X),(X),(X),20.0,(X),NaN
1854,1600000US4880440,"Yantis town, Texas",130,39,9.2,8.3,6.9,8.7,20.8,13.6,...,6370,32007,13901,(X),(X),(X),(X),67.9,(X),NaN
1855,1600000US4880560,Yoakum,2173,169,3.3,2.8,4.2,2.8,15.0,5.5,...,6032,32761,8495,(X),(X),(X),(X),40.5,(X),NaN
1856,1600000US4880584,Yorktown,761,139,10.9,5.5,6.8,5.3,7.9,6.6,...,6333,43504,17398,(X),(X),(X),(X),37.0,(X),NaN
1861,1600000US4880728,Zavalla,239,62,12.1,10.4,6.7,5.9,8.4,5.6,...,45395,48605,14638,(X),(X),(X),(X),39.1,(X),NaN

In [21]:
filtered_med_inc["NAME"] = filtered_med_inc["NAME"].str.replace('town, Texas', '')
filtered_med_inc

/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/3126602671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_med_inc["NAME"] = filtered_med_inc["NAME"].str.replace('town, Texas', '')

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US48,Texas,10490553,15608,5.1,0.1,3.6,0.1,7.0,0.1,...,233,64059,343,(X),(X),(X),(X),30.9,(X),NaN
2,1600000US4800100,Abbott,109,28,0.0,34.8,0.0,34.8,3.7,3.5,...,19284,59656,19528,(X),(X),(X),(X),44.0,(X),NaN
3,1600000US4800160,Abernathy,1164,250,3.1,2.9,7.3,5.5,12.1,7.1,...,7499,34735,15515,(X),(X),(X),(X),35.9,(X),NaN
4,1600000US4801000,Abilene,46030,691,5.3,0.8,5.0,0.8,8.8,1.4,...,4965,50496,6204,(X),(X),(X),(X),26.8,(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1852,1600000US4880356,Wylie,18217,538,1.9,1.3,0.2,0.3,3.2,1.1,...,9861,83275,9538,(X),(X),(X),(X),20.0,(X),NaN
1854,1600000US4880440,Yantis,130,39,9.2,8.3,6.9,8.7,20.8,13.6,...,6370,32007,13901,(X),(X),(X),(X),67.9,(X),NaN
1855,1600000US4880560,Yoakum,2173,169,3.3,2.8,4.2,2.8,15.0,5.5,...,6032,32761,8495,(X),(X),(X),(X),40.5,(X),NaN
1856,1600000US4880584,Yorktown,761,139,10.9,5.5,6.8,5.3,7.9,6.6,...,6333,43504,17398,(X),(X),(X),(X),37.0,(X),NaN
1861,1600000US4880728,Zavalla,239,62,12.1,10.4,6.7,5.9,8.4,5.6,...,45395,48605,14638,(X),(X),(X),(X),39.1,(X),NaN

In [51]:
median_income = pd.DataFrame({"City": filtered_med_inc["NAME"],
                              "Median_Household_Income": filtered_med_inc["S1901_C01_012E"]
                              })
median_income

                      City                        Median_Household_Income
0     Geographic Area Name  Estimate!!Households!!Median income (dollars)
1                    Texas                                          73035
2                  Abbott                                           94688
3               Abernathy                                           80114
4                 Abilene                                           59254
...                    ...                                            ...
1852                Wylie                                          109465
1854               Yantis                                           40000
1855               Yoakum                                           44627
1856             Yorktown                                           66125
1861              Zavalla                                               -

[1228 rows x 2 columns]

In [52]:
median_income = median_income.drop(0)
median_income = median_income.drop(1)
median_income

            City Median_Household_Income
2        Abbott                    94688
3     Abernathy                    80114
4       Abilene                    59254
7       Ackerly                    63750
8       Addison                    78153
...          ...                     ...
1852      Wylie                   109465
1854     Yantis                    40000
1855     Yoakum                    44627
1856   Yorktown                    66125
1861    Zavalla                        -

[1226 rows x 2 columns]

In [32]:
pov = pd.read_csv("Resources/ACSST5Y2022.S1701-Data.csv")
pov

,GEO_ID,NAME,S1701_C01_001E,S1701_C01_001M,S1701_C01_002E,S1701_C01_002M,S1701_C01_003E,S1701_C01_003M,S1701_C01_004E,S1701_C01_004M,...,S1701_C03_058M,S1701_C03_059E,S1701_C03_059M,S1701_C03_060E,S1701_C03_060M,S1701_C03_061E,S1701_C03_061M,S1701_C03_062E,S1701_C03_062M,Unnamed: 374
0,Geography,Geographic Area Name,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,NaN
1,1600000US4800100,"Abbott city, Texas",273,70,61,29,11,8,50,24,...,(X),0.0,100.0,0.0,100.0,0.0,100.0,0.0,16.7,NaN
2,1600000US4800160,"Abernathy city, Texas",3256,810,1093,320,204,100,889,257,...,(X),17.1,22.6,16.9,31.0,39.9,17.1,6.3,4.4,NaN
3,1600000US4801000,"Abilene city, Texas",114403,427,28503,575,8141,349,20362,492,...,(X),5.9,2.1,49.8,6.0,51.2,6.9,15.3,1.3,NaN
4,1600000US4801060,"Abram CDP, Texas",1952,1155,836,676,296,389,540,414,...,(X),-,**,0.0,98.3,100.0,98.3,61.4,27.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,1600000US4880722,"Zapata Ranch CDP, Texas",246,219,0,15,0,15,0,15,...,(X),0.0,52.5,-,**,100.0,100.0,1.6,3.7,NaN
1859,1600000US4880724,"Zarate CDP, Texas",0,15,0,15,0,15,0,15,...,(X),-,**,-,**,-,**,-,**,NaN
1860,1600000US4880728,"Zavalla city, Texas",606,167,152,74,51,46,101,57,...,(X),5.1,6.7,25.9,29.2,50.0,34.9,24.6,12.5,NaN
1861,1600000US4880740,"Zephyr CDP, Texas",236,99,49,35,11,13,38,25,...,(X),0.0,55.5,0.0,100.0,54.5,50.0,2.5,3.2,NaN
1862,1600000US4880836,"Zuehl CDP, Texas",330,229,15,22,15,22,0,15,...,(X),0.0,100.0,-,**,100.0,100.0,3.6,6.8,NaN

In [33]:
filter = pov["NAME"].str.contains("CDP")
filtered_pov = pov[~filter]
filtered_pov["NAME"] = filtered_pov["NAME"].str.replace('city, Texas', '')
filtered_pov["NAME"] = filtered_pov["NAME"].str.replace('town, Texas', '')
filtered_pov

/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/348137524.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_pov["NAME"] = filtered_pov["NAME"].str.replace('city, Texas', '')
/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/348137524.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_pov["NAME"] = filtered_pov["NAME"].str.replace('town, Texas', '')

,GEO_ID,NAME,S1701_C01_001E,S1701_C01_001M,S1701_C01_002E,S1701_C01_002M,S1701_C01_003E,S1701_C01_003M,S1701_C01_004E,S1701_C01_004M,...,S1701_C03_058M,S1701_C03_059E,S1701_C03_059M,S1701_C03_060E,S1701_C03_060M,S1701_C03_061E,S1701_C03_061M,S1701_C03_062E,S1701_C03_062M,Unnamed: 374
0,Geography,Geographic Area Name,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,Estimate!!Total!!Population for whom poverty s...,Margin of Error!!Total!!Population for whom po...,...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,Estimate!!Percent below poverty level!!UNRELAT...,Margin of Error!!Percent below poverty level!!...,NaN
1,1600000US4800100,Abbott,273,70,61,29,11,8,50,24,...,(X),0.0,100.0,0.0,100.0,0.0,100.0,0.0,16.7,NaN
2,1600000US4800160,Abernathy,3256,810,1093,320,204,100,889,257,...,(X),17.1,22.6,16.9,31.0,39.9,17.1,6.3,4.4,NaN
3,1600000US4801000,Abilene,114403,427,28503,575,8141,349,20362,492,...,(X),5.9,2.1,49.8,6.0,51.2,6.9,15.3,1.3,NaN
6,1600000US4801108,Ackerly,387,160,92,53,25,24,67,41,...,(X),0.0,69.5,-,**,22.2,26.9,10.6,10.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,1600000US4880356,Wylie,56860,677,15133,855,4071,612,11062,701,...,(X),2.6,2.2,35.6,22.9,25.2,12.5,5.7,2.1,NaN
1853,1600000US4880440,Yantis,287,86,67,46,38,29,29,23,...,(X),0.0,92.0,0.0,100.0,47.2,22.2,22.3,19.7,NaN
1854,1600000US4880560,Yoakum,5660,379,1523,241,421,149,1102,236,...,(X),0.0,14.3,29.3,33.8,32.4,15.6,14.2,6.0,NaN
1855,1600000US4880584,Yorktown,2109,462,542,241,190,115,352,177,...,(X),7.4,8.3,62.8,41.1,50.2,21.9,17.8,8.5,NaN
1860,1600000US4880728,Zavalla,606,167,152,74,51,46,101,57,...,(X),5.1,6.7,25.9,29.2,50.0,34.9,24.6,12.5,NaN

In [43]:
poverty = pd.DataFrame({
    "City" : filtered_pov["NAME"],
    "Percent_Male" : filtered_pov["S1701_C03_011E"],
    "Percent_Female": filtered_pov["S1701_C03_012E"],
    "Percent_over_25y" : filtered_pov["S1701_C03_022E"],
    "Percent_HS_less" : filtered_pov["S1701_C03_023E"],
    "Percent_HS": filtered_pov["S1701_C03_024E"],
    "Percent_Some_Col_Assoc" : filtered_pov["S1701_C03_025E"],
    "Percent_BS_over" : filtered_pov["S1701_C03_025E"],
    "Percent_unemployed": filtered_pov["S1701_C03_031E"],
    "Population" : filtered_pov["S1701_C01_001E"],
    "Population_Below_Poverty": filtered_pov["S1701_C01_038E"],                               
})
poverty

,City,Percent_Male,Percent_Female,Percent_over_25y,Percent_HS_less,Percent_HS,Percent_Some_Col_Assoc,Percent_BS_over,Percent_unemployed,Population,Population_Below_Poverty
0,Geographic Area Name,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Percent below poverty level!!Populat...,Estimate!!Total!!Population for whom poverty s...,Estimate!!Total!!Population for whom poverty s...
1,Abbott,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273,0
2,Abernathy,4.2,8.2,6.6,11.3,6.2,3.9,3.9,0.0,3256,30
3,Abilene,14.1,17.6,12.3,31.2,16.7,9.3,9.3,20.6,114403,8228
6,Ackerly,6.5,14.9,7.7,3.8,15.0,10.0,10.0,0.0,387,0
...,...,...,...,...,...,...,...,...,...,...,...
1851,Wylie,6.3,5.2,4.8,19.3,3.5,4.1,4.1,1.3,56860,1878
1853,Yantis,14.9,27.7,19.6,25.0,18.3,12.5,12.5,0.0,287,14
1854,Yoakum,12.1,16.2,10.7,15.2,12.4,3.0,3.0,0.0,5660,484
1855,Yorktown,17.2,19.1,20.0,47.9,29.4,1.2,1.2,77.2,2109,76
1860,Zavalla,22.7,26.0,17.9,47.0,7.6,17.5,17.5,33.3,606,90

In [44]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1227 entries, 0 to 1860
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   City                      1227 non-null   object
 1   Percent_Male              1227 non-null   object
 2   Percent_Female            1227 non-null   object
 3   Percent_over_25y          1227 non-null   object
 4   Percent_HS_less           1227 non-null   object
 5   Percent_HS                1227 non-null   object
 6   Percent_Some_Col_Assoc    1227 non-null   object
 7   Percent_BS_over           1227 non-null   object
 8   Percent_unemployed        1227 non-null   object
 9   Population                1227 non-null   object
 10  Population_Below_Poverty  1227 non-null   object
dtypes: object(11)
memory usage: 147.3+ KB

In [45]:
poverty = poverty.drop(0)
poverty

,City,Percent_Male,Percent_Female,Percent_over_25y,Percent_HS_less,Percent_HS,Percent_Some_Col_Assoc,Percent_BS_over,Percent_unemployed,Population,Population_Below_Poverty
1,Abbott,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273,0
2,Abernathy,4.2,8.2,6.6,11.3,6.2,3.9,3.9,0.0,3256,30
3,Abilene,14.1,17.6,12.3,31.2,16.7,9.3,9.3,20.6,114403,8228
6,Ackerly,6.5,14.9,7.7,3.8,15.0,10.0,10.0,0.0,387,0
7,Addison,7.9,8.8,6.6,14.6,9.9,6.6,6.6,43.5,16985,695
...,...,...,...,...,...,...,...,...,...,...,...
1851,Wylie,6.3,5.2,4.8,19.3,3.5,4.1,4.1,1.3,56860,1878
1853,Yantis,14.9,27.7,19.6,25.0,18.3,12.5,12.5,0.0,287,14
1854,Yoakum,12.1,16.2,10.7,15.2,12.4,3.0,3.0,0.0,5660,484
1855,Yorktown,17.2,19.1,20.0,47.9,29.4,1.2,1.2,77.2,2109,76
1860,Zavalla,22.7,26.0,17.9,47.0,7.6,17.5,17.5,33.3,606,90

In [48]:
poverty["Population"] = poverty["Population"].astype(int)
poverty["Population_Below_Poverty"]=poverty["Population_Below_Poverty"].astype(int)
poverty["Poverty_Rate"] = (poverty["Population_Below_Poverty"] / poverty["Population"]) * 100
poverty

,City,Percent_Male,Percent_Female,Percent_over_25y,Percent_HS_less,Percent_HS,Percent_Some_Col_Assoc,Percent_BS_over,Percent_unemployed,Population,Population_Below_Poverty,Poverty_Rate
1,Abbott,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273,0,0.000000
2,Abernathy,4.2,8.2,6.6,11.3,6.2,3.9,3.9,0.0,3256,30,0.921376
3,Abilene,14.1,17.6,12.3,31.2,16.7,9.3,9.3,20.6,114403,8228,7.192119
6,Ackerly,6.5,14.9,7.7,3.8,15.0,10.0,10.0,0.0,387,0,0.000000
7,Addison,7.9,8.8,6.6,14.6,9.9,6.6,6.6,43.5,16985,695,4.091846
...,...,...,...,...,...,...,...,...,...,...,...,...
1851,Wylie,6.3,5.2,4.8,19.3,3.5,4.1,4.1,1.3,56860,1878,3.302849
1853,Yantis,14.9,27.7,19.6,25.0,18.3,12.5,12.5,0.0,287,14,4.878049
1854,Yoakum,12.1,16.2,10.7,15.2,12.4,3.0,3.0,0.0,5660,484,8.551237
1855,Yorktown,17.2,19.1,20.0,47.9,29.4,1.2,1.2,77.2,2109,76,3.603604
1860,Zavalla,22.7,26.0,17.9,47.0,7.6,17.5,17.5,33.3,606,90,14.851485

In [53]:
housing = pd.read_csv("Resources/ACSDP5Y2022.DP04-Data.csv")
housing

/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/621005325.py:1: DtypeWarning: Columns (2,3,4,5,6,7,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,204,205,206,207,208,209,210,211,212,213,214,215,216,217,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,298,318,340,362,376,386,400,410,430,438,446,466,472,490,506,520,538,558) have mixed types. Specify dtype option on import or set low_memory=False.
  housing = pd.read_csv("Resources/ACSDP5Y2022.DP04-Data.csv")

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0002E,DP04_0002M,DP04_0003E,DP04_0003M,DP04_0004E,DP04_0004M,...,DP04_0139PM,DP04_0140PE,DP04_0140PM,DP04_0141PE,DP04_0141PM,DP04_0142PE,DP04_0142PM,DP04_0143PE,DP04_0143PM,Unnamed: 574
0,Geography,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,NaN
1,1600000US4800100,"Abbott city, Texas",130,31,109,28,21,13,0.0,36.2,...,100.0,0.0,100.0,0.0,100.0,0.0,100.0,(X),(X),NaN
2,1600000US4800160,"Abernathy city, Texas",1253,253,1164,250,89,48,0.0,5.4,...,18.6,19.8,15.0,5.6,6.2,20.5,15.9,(X),(X),NaN
3,1600000US4801000,"Abilene city, Texas",52083,475,46030,691,6053,571,1.4,0.7,...,2.2,11.2,2.3,9.6,2.1,39.7,3.3,(X),(X),NaN
4,1600000US4801060,"Abram CDP, Texas",492,201,483,202,9,14,0.0,10.5,...,66.1,0.0,66.1,0.0,66.1,100.0,66.1,(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,1600000US4880722,"Zapata Ranch CDP, Texas",78,72,78,72,0,15,0.0,43.1,...,100.0,0.0,100.0,100.0,100.0,0.0,100.0,(X),(X),NaN
1859,1600000US4880724,"Zarate CDP, Texas",0,15,0,15,0,15,-,**,...,**,-,**,-,**,-,**,(X),(X),NaN
1860,1600000US4880728,"Zavalla city, Texas",315,77,239,62,76,37,3.6,5.7,...,65.0,0.0,65.0,0.0,65.0,53.1,48.3,(X),(X),NaN
1861,1600000US4880740,"Zephyr CDP, Texas",123,60,103,61,20,18,0.0,46.7,...,14.8,0.0,57.4,87.8,29.9,9.8,22.4,(X),(X),NaN
1862,1600000US4880836,"Zuehl CDP, Texas",140,70,140,70,0,15,0.0,29.2,...,**,-,**,-,**,-,**,(X),(X),NaN

In [54]:
filter = housing["NAME"].str.contains("CDP")
filtered_housing = housing[~filter]
filtered_housing["NAME"] = filtered_housing["NAME"].str.replace('city, Texas', '')
filtered_housing["NAME"] = filtered_housing["NAME"].str.replace('town, Texas', '')
filtered_housing

/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/1650734033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_housing["NAME"] = filtered_housing["NAME"].str.replace('city, Texas', '')
/var/folders/cd/nk_ykw0530jcdb_9538ml3mh0000gn/T/ipykernel_40549/1650734033.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_housing["NAME"] = filtered_housing["NAME"].str.replace('town, Texas', '')

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0002E,DP04_0002M,DP04_0003E,DP04_0003M,DP04_0004E,DP04_0004M,...,DP04_0139PM,DP04_0140PE,DP04_0140PM,DP04_0141PE,DP04_0141PM,DP04_0142PE,DP04_0142PM,DP04_0143PE,DP04_0143PM,Unnamed: 574
0,Geography,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,NaN
1,1600000US4800100,Abbott,130,31,109,28,21,13,0.0,36.2,...,100.0,0.0,100.0,0.0,100.0,0.0,100.0,(X),(X),NaN
2,1600000US4800160,Abernathy,1253,253,1164,250,89,48,0.0,5.4,...,18.6,19.8,15.0,5.6,6.2,20.5,15.9,(X),(X),NaN
3,1600000US4801000,Abilene,52083,475,46030,691,6053,571,1.4,0.7,...,2.2,11.2,2.3,9.6,2.1,39.7,3.3,(X),(X),NaN
6,1600000US4801108,Ackerly,131,43,110,38,21,18,0.0,42.5,...,100.0,0.0,100.0,0.0,100.0,53.8,53.8,(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,1600000US4880356,Wylie,18875,614,18217,538,658,364,0.5,0.7,...,5.1,13.3,6.8,13.8,8.5,39.0,7.9,(X),(X),NaN
1853,1600000US4880440,Yantis,157,44,130,39,27,20,0.0,39.4,...,19.8,23.7,22.7,10.5,17.4,26.3,28.1,(X),(X),NaN
1854,1600000US4880560,Yoakum,2633,215,2173,169,460,171,0.0,3.3,...,10.6,9.5,8.4,12.3,9.7,39.6,12.5,(X),(X),NaN
1855,1600000US4880584,Yorktown,1057,150,761,139,296,88,2.8,4.5,...,28.3,1.4,2.6,6.8,11.1,34.9,21.5,(X),(X),NaN
1860,1600000US4880728,Zavalla,315,77,239,62,76,37,3.6,5.7,...,65.0,0.0,65.0,0.0,65.0,53.1,48.3,(X),(X),NaN

In [55]:
house = pd.DataFrame({
    "City" : filtered_housing["NAME"],
    "Percent_Owner_Occ" : filtered_housing["DP04_0046PE"],
    "Percent_Renter_Occ" : filtered_housing["DP04_0047PE"],
    "Median_Rent" : filtered_housing["DP04_0134E"]
})
house

,City,Percent_Owner_Occ,Percent_Renter_Occ,Median_Rent
0,Geographic Area Name,Percent!!HOUSING TENURE!!Occupied housing unit...,Percent!!HOUSING TENURE!!Occupied housing unit...,Estimate!!GROSS RENT!!Occupied units paying re...
1,Abbott,90.8,9.2,-
2,Abernathy,77.0,23.0,709
3,Abilene,54.0,46.0,1060
6,Ackerly,68.2,31.8,-
...,...,...,...,...
1851,Wylie,76.7,23.3,1844
1853,Yantis,66.9,33.1,775
1854,Yoakum,68.0,32.0,849
1855,Yorktown,73.9,26.1,836
1860,Zavalla,77.4,22.6,850

In [56]:
house = house.drop(0)
house

            City Percent_Owner_Occ Percent_Renter_Occ Median_Rent
1        Abbott               90.8                9.2           -
2     Abernathy               77.0               23.0         709
3       Abilene               54.0               46.0        1060
6       Ackerly               68.2               31.8           -
7       Addison               17.3               82.7        1620
...          ...               ...                ...         ...
1851      Wylie               76.7               23.3        1844
1853     Yantis               66.9               33.1         775
1854     Yoakum               68.0               32.0         849
1855   Yorktown               73.9               26.1         836
1860    Zavalla               77.4               22.6         850

[1226 rows x 4 columns]

In [57]:
merged = pd.merge(median_income, poverty, on="City", how="inner")
merged

,City,Median_Household_Income,Percent_Male,Percent_Female,Percent_over_25y,Percent_HS_less,Percent_HS,Percent_Some_Col_Assoc,Percent_BS_over,Percent_unemployed,Population,Population_Below_Poverty,Poverty_Rate
0,Abbott,94688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273,0,0.000000
1,Abernathy,80114,4.2,8.2,6.6,11.3,6.2,3.9,3.9,0.0,3256,30,0.921376
2,Abilene,59254,14.1,17.6,12.3,31.2,16.7,9.3,9.3,20.6,114403,8228,7.192119
3,Ackerly,63750,6.5,14.9,7.7,3.8,15.0,10.0,10.0,0.0,387,0,0.000000
4,Addison,78153,7.9,8.8,6.6,14.6,9.9,6.6,6.6,43.5,16985,695,4.091846
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,Wylie,109465,6.3,5.2,4.8,19.3,3.5,4.1,4.1,1.3,56860,1878,3.302849
1222,Yantis,40000,14.9,27.7,19.6,25.0,18.3,12.5,12.5,0.0,287,14,4.878049
1223,Yoakum,44627,12.1,16.2,10.7,15.2,12.4,3.0,3.0,0.0,5660,484,8.551237
1224,Yorktown,66125,17.2,19.1,20.0,47.9,29.4,1.2,1.2,77.2,2109,76,3.603604
1225,Zavalla,-,22.7,26.0,17.9,47.0,7.6,17.5,17.5,33.3,606,90,14.851485

In [58]:
merged2 = pd.merge(merged, house, on="City", how="inner")
merged2

,City,Median_Household_Income,Percent_Male,Percent_Female,Percent_over_25y,Percent_HS_less,Percent_HS,Percent_Some_Col_Assoc,Percent_BS_over,Percent_unemployed,Population,Population_Below_Poverty,Poverty_Rate,Percent_Owner_Occ,Percent_Renter_Occ,Median_Rent
0,Abbott,94688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273,0,0.000000,90.8,9.2,-
1,Abernathy,80114,4.2,8.2,6.6,11.3,6.2,3.9,3.9,0.0,3256,30,0.921376,77.0,23.0,709
2,Abilene,59254,14.1,17.6,12.3,31.2,16.7,9.3,9.3,20.6,114403,8228,7.192119,54.0,46.0,1060
3,Ackerly,63750,6.5,14.9,7.7,3.8,15.0,10.0,10.0,0.0,387,0,0.000000,68.2,31.8,-
4,Addison,78153,7.9,8.8,6.6,14.6,9.9,6.6,6.6,43.5,16985,695,4.091846,17.3,82.7,1620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,Wylie,109465,6.3,5.2,4.8,19.3,3.5,4.1,4.1,1.3,56860,1878,3.302849,76.7,23.3,1844
1222,Yantis,40000,14.9,27.7,19.6,25.0,18.3,12.5,12.5,0.0,287,14,4.878049,66.9,33.1,775
1223,Yoakum,44627,12.1,16.2,10.7,15.2,12.4,3.0,3.0,0.0,5660,484,8.551237,68.0,32.0,849
1224,Yorktown,66125,17.2,19.1,20.0,47.9,29.4,1.2,1.2,77.2,2109,76,3.603604,73.9,26.1,836
1225,Zavalla,-,22.7,26.0,17.9,47.0,7.6,17.5,17.5,33.3,606,90,14.851485,77.4,22.6,850

In [59]:
merged2.to_csv("2022_Census_Data.csv")